.formClass
{
    width: 500px;
    height: fit-content;
    margin: auto;
    
    border: 2px;
    
}
#fnameDiv 
{
    float: left;
    width: 48%;
   
}
#lnameDiv
{
    float: right;
    width: 48%;
}
#cityDiv
{
    float: left;
    width: 48%;
   
}
#stateDiv
{
    float: right;
    width: 48%;
}
#address1
{
    margin-bottom: 10px;
}
.form-group
{
    margin-bottom: 6px;
}
#buttonDiv
{
    margin-top: 20px;
    text-align: center;
    
}
